@tailwind base;
@tailwind components;
@tailwind utilities;

// https://coolors.co/4ebc7d-008dd5-1b2845-3abb94-82204a
:root {
  --color-primary: #358c5a;
  --color-secondary: #3ea369;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-primary;
}

a:hover {
  @apply border-b-2 border-primary;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
