@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #358c5a;
  --color-secondary: #3ea369;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-blue;
}

a:hover {
  @apply border-b-2 border-blue;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
